﻿@{
    ViewBag.Title = "Series Generator";
}

<h2>Series Generator</h2>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Series Generator</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/display-series")
</head>
<body>


    <div>
        <input style="padding: 10px;margin :10px;width:285px" type="text" placeholder="Please Enter Range between 1 - 999999999" id="txtRange" />
        <input style="padding: 10px;margin-right :10px" type="submit" id="btnSubmit" value="Generate Series" />
        <div style="padding-top:20px" id="divShowNumber"></div>
    </div>
    
</body>
</html>
